<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TikTok Data Analyzer</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.mytiktokdata.com/">Home </a>
      </li>
      </li>

    </ul>
  </div>
</nav>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
      </div>
    </div>
  </div>
</section>


<section>
  <div style="width: 100%; height: 500px">
    <div style="padding-left: 10%; padding-right: 10%">
      <br>
      <h1 style="text-align: center; font-size: 48pt"><b th:text="${errormsg}"></b></h1>
      <p style="text-align: center">Head back to the <a href="https://www.mytiktokdata.com">home page</a></p>
    </div>

</section>

<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Questions or Comments? Email us at MyTikTokData@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-4.4.1.js"></script>
</body>
</html>