<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175652346-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-175652346-1');
  </script>

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

  <script data-ad-client="ca-pub-7148485653364787" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TikTok Data Analyzer</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" hidden>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.mytiktokdata.com">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Features </a>
      </li><li class="nav-item">
      <a class="nav-link" href="#tutorial">Tutorial </a>
    </li>

    </ul>
  </div>
</nav>

<section>
  <div class="jumbotron text-center mt-2" style="background-image: url('images/svg-layer-1.svg'); background-repeat: no-repeat; background-size: cover;
													 background-position: center center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 style="font-size:80pt">TikTok Data Analyzer</h1>

          <br><br>


          <button class="btn btn-primary btn-lg" value="Upload" type="submit" id="custom-submit">Analyze!</button>
          <br><br>
          <button class="btn btn-primary btn-lg" name="file" type="file" id="custom-file">Upload</button>
          <br>
          <span id="custom-text">No File Chosen</span>

          <br><br>
          <button class="btn btn-primary btn-sm" id="example-button"
                  style="background-color: #e30273; border-color: #e30273">Example</button>
          <p style="text-align: center">Allow up to 1 minute for analysis to complete!</p>

          <script type="text/javascript">
            document.getElementById("example-button").onclick = function () {
              location.href = "example";
            };
          </script>

          <form method="POST" enctype="multipart/form-data" action="/">
            <input type="file" name="file" hidden="hidden" id="real-file"/>
            <input type="submit" value="Upload" hidden="hidden" id="real-submit"/>
          </form>

          <script>
            const realFileBtn = document.getElementById("real-file");
            const customFileBtn = document.getElementById("custom-file");
            const realFileSub = document.getElementById("real-submit");
            const customSubmitBtn = document.getElementById("custom-submit");
            const customTxt = document.getElementById("custom-text");

            customFileBtn.addEventListener("click", function() {
              realFileBtn.click();
            });

            customSubmitBtn.addEventListener("click", function() {
              realFileSub.click();
            });

            realFileBtn.addEventListener("change", function() {
              if (realFileBtn.value) {
                customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
              }
              else {
                customTxt.innerHTML = "No File Chosen";
              }
            })
          </script>




        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" id="features">
    <div class="row">
      <div class="col-12 text-center">
        <h1 >Find out what data is collected by TikTok</h1>
        <br>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-4 col-12">
        <ul class="list-unstyled">
          <li class="media">
            <img class="mr-3" src="images/phonesmall.png" alt="phone">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Videos watched</h5>
              See how many videos you have swiped past since making your account!
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <ul class="list-unstyled">
          <li class="media">
            <img class="mr-3" src="images/globesmall.png" alt="globe">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tracked Locations</h5>
              Look at all the location data TikTok has collected!
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <ul class="list-unstyled">
          <li class="media">
            <img class="mr-3" src="images/personsmall.png" alt="person">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Personal Data</h5>
              See what data you have given about yourself!
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<hr>
<section>
  <div style="width: 100%;" id="tutorial">
    <div style="padding-left: 10%; padding-right: 10%">
      <br>
      <h1 style="text-align: center; font-size: 48pt"><b>How does it work?</b></h1>
      <p style="text-align: center; font-size: 14pt">Download your data file from the TikTok app and upload for analysis! Just follow these steps:
        <br><br></p>
      <p style="font-size: 20pt">Step 1: Tap "Me" in the bottom right of the TikTok app<br>
        Step 2: Hit the 3 dots in the top right corner <br>
        Step 3: Click on "Privacy and safety"<br>
        Step 4: Tap "Personalization and data"<br>
        Step 5: Click to "Download your data"<br><br>
        After 1-2 days the data file will be able to be downloaded. Then, upload and analyze your data!</p>

    </div>
  </div>
</section>

<hr>



<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Copyright © MyTikTokData. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-4.4.1.js"></script>
</body>
</html>